
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.imagen{
    background: url("../img/header.jpg") no-repeat 0px 0px;
    background-size: 100% 100%;
    /*background-size: 170px, 50px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;*/
    min-height: 75px;
}

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);